<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Regression">
	<!--I am learning test-->
	
  <test  name="BrowserTest">
    <classes>
      <class name="com.qa.testNg.ClassOne"/>
      <class name="com.qa.testNg.Anotations"/>
      <class name="com.qa.testNg.ClassTwo"/>
    </classes>
  </test> 
</suite> 
